input {
    border: none;
}

#tableFrame {
    display: block;
    overflow: auto;
}

#t-scroll {
    position: relative;
    max-height: 400px;
    overflow: auto;
    width: auto;
}

.tableSelf {
    position: relative;
}

.theader {
    position: sticky;
    z-index: 1;
    top: 0px;
}